{:paths ["src"]
 :deps {org.apache.commons/commons-text {:mvn/version "1.9"}}
 :aliases {:build {:extra-paths ["build"]
                   :extra-deps {io.github.bowbahdoe/jproject {:git/sha "56f2bc3d014922def865290d6b00f95e602318f0"}}}}}

